*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	color:white;
	scroll-behavior: smooth;


}
body{
	background-color: #0D1321;
}

.section-header{
	background-color: #437C90;
	
}

.header-text{
	font-size: 16px;
	font-weight: 400;
	color:white;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

/*SIDEBAR*/
.sidebar{
	text-align:center;
	padding-top: 4px;
	width: 100vw;
	padding-left: 100px;
}
/*LANDING PAGE*/

.landing-img-container{
	width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1501471984908-815b996862f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80") center no-repeat;
    background-size: cover; 
    text-align: center;
    padding: 175px 0;

}
.myName{
font-size: 5vw;
color:white;
font-family: 'Lobster', cursive;
}

.ezraDesc{
font-size: 2vw;
color:white;
}



@media(max-width: 425px){
	#logo{
		max-width: 20px;
		width:20px;
		padding-bottom: 10px;
	}

	.navbar{
		position: static;
	}
}

.fab{
	color:white;
	font-size:2vw;
}


/*NAVBAR*/

.navbar{
 	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height .5s ease;
    
    transition: background-color .5s ease;
}

.navbar-nav a{
	color:white;
}
.navbar-nav{
	padding-right:100px;
}

.nav-link:hover{
	
	padding:1px;
	color:#00A0C6;
}

/*Apply styles after scroll*/
.scrolling-active{
    background-color: rgba(17, 75, 95,0.5);
}

/*

.fas{
	color:white;
	border:none;
	outline:none;
}


*/


/*ABOUT ME*/
#ezraId{
	width: 15vw;
 	height: auto;
	border-radius: 80%;
}
.aboutMe-header{
	margin:5em;
	display:flex;
	align-items: center;
	justify-content: center

}

.ezraSays{
	display:block;
	padding-left:5em;

}
.techs{
text-align: center;
font-size: 16px;
margin: 50px;

}

.skill-container{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	
}

.skill{
	margin-top: 40px;
	justify-content: center;
	padding: 0 30px;
}


 #image{
 	width: 4em;
 	height: auto;
 
 
 }


 #skill-text{
 	
 	font-weight: bold;

 	margin-top:2em;
 	font-size: 1vw;

 }
#aboutMe{
	padding-bottom: 8em;
}
/*CARD*/

.inner{
	overflow: hidden;
	
}

.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.5);
}

.card-body{
	background-color: #131B23;
}
.card{
	border:none;
	width: 350px;
	height: auto;
	margin:10px 5px;


}

.card-title,.lead{
	color:#f3fefe;
}


.btn-card{
	transition: all .5s ease;

}
.btn-card:hover{
	font-size: 30px;


}



.btn-message{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border:2px solid white;
	background-color:#0D1321;

	
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;

	padding:5px 10px;
}
.btn-message:hover{
	
	background-color:white;
	border:2px solid white ;	
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
}

.fa:hover{
	color:#0D1321;
}


footer{
	background-color:rgba(17, 75, 95);;
	
}